* {
font-family: Arial;
}

#main_title_a {
font-size:250%;
font-family:Arial;
margin:0;
padding:0px;
padding-left:5px;
padding-right:10px;
margin-left:0px;
font-weight:bold;
color:blue;
text-transform: uppercase;
text-shadow: 4px 4px rgb(200,200,200);
background:yellow;
text-decoration:none;
/*display:flex;*/
}

#main_title_a:link { text-decoration: none; }
#main_title_a:visited { text-decoration: none; }
#main_title_a:hover { text-decoration: none; }
#main_title_a:active { text-decoration: none; }


#menu {
background: #4169E1;
border-left: 0px solid #4169E1;
border-right: 0px solid #4169E1;
margin-top:0px;
margin-bottom:0;
padding:0;
padding-left: 40px;
}


#menu li {
display:inline-block;
border-left: 0px solid #4169E1;
border-right: 0px solid #4169E1;
/*
border-top:4px solid #4169E1;
border-bottom:4px solid #4169E1;
*/
font-size:120%;
background: #4169E1;
/*white-space: nowrap;*/


/*
-webkit-transition : all 0.4s;
-moz-transition : all 0.4s;
transition: all 0.4s;
*/

}

#menu li a {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
color:white;
text-decoration:none;
font-weight: bold;
line-height: 45px;
}

.menu_li_current_item {
}

.menu_li_current_item a {
color:yellow !important;
}

#menu li:hover {
background: #0000CD;
}


@media screen and (max-width: 800px), (pointer:none), (pointer:coarse) {

  #menu li a{
  padding-left:20px;
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  
  line-height: 45px;
  display:block;
  }
  
  #menu li{
  display: block;
  }
  
  

  #menu{
  height: 100%;
  width: 100%;
  border-top:6px solid #0000CD;
  padding-left: 0;
  }
  
  body{
  max-width:800px;
  border-left:0;
  border-right:0;
  padding:4px !important;
  }
}



/*
@media screen and (max-width: 800px) {
  #menu{
  border-top:6px solid #0000CD;
  }

}
*/


@media screen and (pointer:none), (pointer:coarse) {
  #main_title_a {
  font-size:500%;
  }

}



h1 {
/*border-bottom:4px solid #dddddd;*/
font-size:220%;

}
h2 {
/*border-bottom:3px solid #99CCFF;*/
}

h3 {
/*border-bottom:2px solid orange;*/
}

body {
max-width:1200px;
min-height: 600px;
margin:0 auto; 

/*
border-right:6px solid #eeeeee;
border-left:6px solid #eeeeee;
*/

/*border: 4px solid #ccc;*/
font-family: Arial;

margin-bottom:20px;
/*background-color:#e5e7e9; */
padding: 10px;
}

/*
p {
padding-left:10px;
}
*/
hr {
border: 2px solid #ddd;
}

.url::before {
content: "URL: ";
}

x-note::before {
content:"(";
color:grey;
}
x-note::after {
content:")";
color:grey;
}
x-note {
color:grey;
}

pre {
font-family: "Courier New";
background:black;
color:#3f3;
padding:10px;

font-size:120%;
letter-spacing:1px;
}
.gold {background-color:yellow;}

th {
background:#aaaaaa;
}



#footer {
  display: flex;
  border-top:4px solid rgb(230,230,230);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(50, 51, 52);
  /*margin-top:20px;*/
  /**/
  background: white;/*rgb(200, 201, 202);*/
  font-size:95%;
  /**/
  
  align-items: center;
}

.footer_column_left {
  flex: 50%;
}
.footer_column_right {
  flex: 50%;
  text-align:right;
}

@media screen and (max-width: 600px) {
  .footer_column_left, .footer_column_right {
    width: 100%;
  }
}

#content{
background:white;
/*background: rgb(255,255,240);*/
/*rgb(245,245,245);*/
padding: 10px;
color: rgb(40, 41, 42);
padding-bottom: 30px;
/*
border-left: 6px solid rgb(240,240,240);
border-right: 6px solid rgb(240,240,240);
*/
}
body {
background: rgb(243,243,243);
}

.banner1, .banner2 {
display:block;
padding: 10px;
padding-left: 30px;
font-size:120%;
}

.banner1 {
background:#9F9;
}


.banner2 {
background:#CFF
}
/*
b {
color:#DF7000;
}
*/

