* {
    font-family: Arial;
}

#nanoboot_banner {


    font-size:2em;
    font-weight: 500;
    padding-top: 6px !important;
    padding-bottom: 9px !important;
    text-align:left;
    padding-left:60px;

    background: #7cd3ff;
    background: linear-gradient(180deg, rgba(124, 211, 255,0.4) 10%, white 60%);
    height:36px;
}

#nanoboot_banner a {

    text-decoration:none;
    text-transform: uppercase;
    color:#4169E1 !important;
    font-weight: 600;
}


#nanoboot_banner a:link {
    color:blue !important;
    text-decoration: none;
}
#nanoboot_banner a:visited {
    color:blue;
    text-decoration: none;
}
#nanoboot_banner a:hover {
    color:blue;
    text-decoration: none;
}
#nanoboot_banner a:active {
    color:blue;
    text-decoration: none;
}




#menu {
    background: #3D3F4A;
    border-left: 0px solid #4169E1;
    border-right: 0px solid #4169E1;
    margin-top:0px;
    margin-bottom:0px;
    padding:0;
    padding-left: 12px;
}


#menu li {
    display:inline-block;
    border-left: 0px solid #4169E1;
    border-right: 0px solid #4169E1;

    /*
    border-top:4px solid #4169E1;
    border-bottom:4px solid #4169E1;
    */
    font-size:115%;

    margin-left:0 !important;
    margin-right:0 !important;

}

#menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color:white;
    text-decoration:none;
    font-weight: 550;
    line-height: 45px;
    margin-left:0 !important;
    margin-right:0 !important;
}

.menu_li_current_item {
}

.menu_li_current_item a {
    color: #ffff99 !important;
    /*background: #27282C;*/
}


#menu li:hover {
    background: #27282C;
    color:yellow !important;
}
#menu li a:hover {
    color: white;
}




@media screen and (max-width: 800px), (pointer:none), (pointer:coarse) {

    #menu li a{
        padding-left:20px;
        padding-right: 100px;
        padding-top: 0px;
        padding-bottom: 0px;

        line-height: 45px;
        display:block;
    }

    #menu li{
        display: block;
        margin:0;
        padding:0
    }



    #menu{
        height: 100%;
        width: 100%;
        border-top:6px solid #0000CD;
        padding-left: 0;
    }

    body{
        /*max-width:800px;*/
        border-left:0;
        border-right:0;
        padding:4px !important;
    }
}



/*
@media screen and (max-width: 800px) {
  #menu{
  border-top:6px solid #0000CD;
  }

}
*/


@media screen and (pointer:none), (pointer:coarse) {
    #nanoboot_banner_a {
        font-size:500%;
    }

}



h1 {
    border-bottom:4px solid #dddddd;
    font-size:220%;
    /*color:#0000CC;*/
    margin-top:10px;
    margin-bottom:20px;
    /*background: #6633ff;
    color:white;*/

}
h2 {
    /*border-bottom:3px solid #99CCFF;*/
    font-size:160%;
    /*color:#009900;*/
}

h3 {
    /*border-bottom:2px solid orange;*/
    /*color:#660000;*/
}

/*
h1, h2, h3, h4, h5, h6 {
text-align: center;
}
*/

body {
    /*max-width:1200px;
    min-height: 600px;*/
    margin:0 auto;
    margin-bottom:0px;
}


hr {
    border: 2px solid #ddd;
}

x-note::before {
    content:"(";
    color:grey;
}
x-note::after {
    content:")";
    color:grey;
}
x-note {
    color:grey;
/*    font-size:80%;*/
}

pre {
    font-family: "Courier New";
    background:#eee;
    border: 2px solid #bbb;
    color: black;
    padding:10px;

    font-size:100%;
    letter-spacing:1px;
}

th {
    background:#aaaaaa;
}



#footer {
    display: flex;
    border-top:4px solid rgb(200,200,200);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(50, 51, 52);
    /*background: #3D3F4A;*/
    background: #505365;
    font-size:90%;
    color:rgb(240,240,240);
    /**/

    align-items: center;
}

.footer_column_left {
    flex: 50%;
}
.footer_column_right {
    flex: 50%;
    text-align:right;
    text-decoration:none;
}
.footer_column_right a {
    text-decoration:none;
    align-content: center;
    color:rgb(240,240,240);
}

.footer_column_right a:hover {
    text-decoration: underline;
}

#footer a img{
    height:20px;
}

@media screen and (max-width: 600px) {
    .footer_column_left, .footer_column_right {
        width: 100%;
    }
}

#content{
    background:white;
    /*background: rgb(255,255,240);*/
    /*rgb(245,245,245);*/
    padding: 15px;
    color: rgb(40, 41, 42);
    padding-bottom: 30px;
    /*
    border-left: 6px solid rgb(240,240,240);
    border-right: 6px solid rgb(240,240,240);
    */
}
body {
    background: rgb(230,230,230);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
}

.banner1, .banner2 {
    display:block;
    padding: 10px;
    padding-left: 30px;
    font-size:120%;
}

.banner1 {
    background:#9F9;
}


.banner2 {
    background:#CFF
}
/*
b {
color:#DF7000;
}
*/

.danger_zone {
    font-size:100%;
    text-align:center;
    color:blue;
    background:yellow;
    border-top:5px dashed red;
    border-bottom:5px dashed red;
    padding:5px;
    margin-top:10px;
    margin-bottom:0px;
    width:500px;
}

b, x-bold {
	font-weight: bold;
	color: #CC6600;
}